@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Cambay', sans-serif; }

*:focus {
  outline: none !important; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }

.wrapper {
  overflow: hidden; }

.section-title {
  margin: auto; }
  .section-title h3 {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    text-align: center; }
  .section-title h3:before {
    font-family: 'Abhaya Libre', serif;
    position: absolute;
    top: 62px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: #34344a; }

.button {
  background-color: #ff4100;
  border: none;
  cursor: pointer;
  border: 2px solid #ff4100;
  transition-duration: .4s; }
  .button a {
    display: block;
    width: inherit;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 16px; }

.button:hover {
  border: 2px solid #cc3400;
  background-color: #cc3400;
  transition-duration: .4s; }

.transparent-button {
  width: 125px;
  background-color: initial;
  border: 2px solid #ff4100;
  transition-duration: .4s; }
  .transparent-button a {
    display: block;
    width: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 0.71;
    text-align: center;
    color: #34344a;
    padding-top: 16px;
    padding-bottom: 11px;
    transition-duration: .4s; }

.transparent-button:hover {
  background-color: #ff4100;
  transition-duration: .4s; }
  .transparent-button:hover a {
    color: #fff;
    transition-duration: .4s; }

#header {
  position: absolute;
  width: 100%;
  padding-top: 30px;
  transition-duration: .5s;
  z-index: 1; }

.header-logo a img {
  width: 115px; }

.header-top-line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center; }

.header-menu li {
  position: relative;
  display: inline-block;
  margin-right: 29px; }
  .header-menu li a {
    font-size: 14px;
    font-weight: bold;
    line-height: 0.71;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff; }

.header-menu li:last-child {
  margin-right: 0; }

.header-menu li:hover:before,
.header-menu .menu-active:before {
  content: '';
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 100px;
  background-color: #ff4100; }

.header-phone a {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  line-height: 0.7;
  text-align: right;
  color: #fff; }

.header-phone a:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -20px;
  width: 13px;
  height: 13px;
  background-image: url(../img/phone-before.svg);
  background-repeat: no-repeat; }

.header-phone-mobile,
.header-cross {
  display: none; }

.hamburger {
  position: fixed;
  display: none;
  width: 30px;
  height: 21px;
  background-image: url(../img/hamburger.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 10; }

.hamburger-fix {
  background-image: url(../img/hamburger-black.svg);
  z-index: -1; }

#header.header-fix {
  padding-top: 8px;
  padding-bottom: 10px;
  position: fixed;
  transition-duration: .5s;
  background-color: #2b4162;
  z-index: 998; }

#home {
  position: relative;
  min-height: 100vh;
  background-image: url(../img/home-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 20px; }

.home-wrapp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center; }

.home-info {
  margin-right: 62px; }

.home-title h1 {
  max-width: 442px;
  font-family: 'Yeseva One', cursive;
  font-size: 51px;
  font-weight: normal;
  line-height: 1.08;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 28px; }

.home-descr p {
  font-size: 20px;
  font-weight: normal;
  color: #ffffff; }

.home-form-wrapp {
  width: 270px;
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 25px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5); }

.home-form-title {
  width: 100%;
  background-color: #2b4162;
  padding-top: 15px;
  padding-bottom: 8px; }
  .home-form-title h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff; }

.home-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 216px;
  padding-top: 25px; }
  .home-form input:not(.button),
  .home-form select {
    border: 2px solid #e2e2e2;
    background-color: #fff;
    width: 100%;
    height: 35px;
    padding-left: 13px;
    font-size: 14px;
    color: #34344a;
    margin-bottom: 20px;
    padding-top: 4px; }
  .home-form select {
    padding-top: 5px;
    width: 100%;
    height: 35px;
    background-color: #fff;
    color: #929292; }
  .home-form .home-form-button {
    width: 216px;
    padding-top: 15px;
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 12px; }

.form-selict-wrapp {
  width: 216px; }
  .form-selict-wrapp select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0; }

.home-form-descr p {
  font-family: Rubik;
  font-size: 14px;
  text-align: center;
  color: #4d4d4d; }

.home-yelp-link {
  position: absolute;
  bottom: -35px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background-color: #fff;
  margin: auto;
  padding: 8px 16px 14px 22px;
  box-shadow: 0px 11px 17px 0 #d4d3d3; }
  .home-yelp-link img {
    margin-right: 10px; }

.home-yelp-descr p {
  padding-top: 11px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 0.2px;
  color: #34344a;
  margin-right: 12px; }

.home-yelp {
  margin-top: 5px; }

#about {
  padding-top: 100px;
  padding-bottom: 109px; }

.about-warpp {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-title {
  margin-bottom: 35px; }
  .about-title h3 {
    color: #eef2f2; }
  .about-title h3:before {
    content: 'Using Our Expertise for Your Advantage';
    left: 50px; }

.about-descr {
  max-width: 800px;
  margin-bottom: 52px; }
  .about-descr p {
    font-size: 15px;
    line-height: 1.67;
    letter-spacing: 0.1px;
    text-align: center;
    color: #34344a; }

.about-descr-hov-wrapp {
  width: 88%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around; }

.about-descr-hov {
  margin-bottom: 0;
  max-width: 500px;
  transition-duration: .5s; }
  .about-descr-hov p {
    font-size: 15px;
    line-height: 1.67;
    letter-spacing: 0.1px;
    text-align: center;
    color: #34344a; }

.about-descr-one-hov {
  opacity: 0; }
  .about-descr-one-hov p {
    text-align: left; }

.about-descr-two-hov {
  opacity: 0; }

.about-descr-three-hov {
  opacity: 0; }
  .about-descr-three-hov p {
    text-align: right; }

.about-descr-hov-active {
  transition-duration: .5s;
  opacity: 1; }

.about-items {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 30px; }

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 233px;
  padding-top: 13px;
  padding-bottom: 16px;
  border: solid 3px transparent;
  transition-duration: .5s;
  cursor: pointer; }

.about-item-img {
  margin-bottom: 22px; }

.about-item-one .about-item-img {
  width: 74px;
  height: 81px;
  background-image: url(../img/about-items/1.svg); }

.about-item-two .about-item-img {
  width: 60px;
  height: 76px;
  background-image: url(../img/about-items/2.svg); }

.about-item-three .about-item-img {
  width: 79px;
  height: 75px;
  background-image: url(../img/about-items/3.svg); }

.about-item.about-item-active {
  transition-duration: .5s;
  border: solid 3px #2b4162; }

.about-item-active.about-item-one .about-item-img {
  transition-duration: .5s;
  background-image: url(../img/about-items/1-hover.svg); }

.about-item-active.about-item-two .about-item-img {
  transition-duration: .5s;
  background-image: url(../img/about-items/2-hover.svg); }

.about-item-active.about-item-three .about-item-img {
  transition-duration: .5s;
  background-image: url(../img/about-items/3-hover.svg); }

.about-item-descr p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #34344a; }

.about-item-descr-mob {
  display: none; }

#prices {
  padding-top: 150px;
  padding-bottom: 108px;
  background-image: url(../img/price-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover; }

.prices-title {
  margin-bottom: 67px; }
  .prices-title h3 {
    font-size: 80px;
    line-height: 0.78;
    color: rgba(238, 242, 242, 0.21); }
  .prices-title h3:before {
    content: '3 hour minimum charge on Sunday-Friday / 4 hour minimum on Saturday';
    top: 35px;
    right: 183px;
    color: #fff; }

.prices-items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 41px; }

.prices-item {
  padding-top: 46.2px;
  padding-bottom: 46px;
  width: 360px;
  text-align: center;
  background-color: #fff; }

.prices-item-title {
  margin-bottom: 15px; }
  .prices-item-title h5 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #34344a; }

.prices-item-cost {
  padding-top: 13px;
  margin-bottom: 44px;
  background-color: #2b4162; }
  .prices-item-cost p {
    font-size: 55px;
    letter-spacing: 1.9px;
    color: #ffffff; }
    .prices-item-cost p span {
      position: relative;
      font-size: 21px;
      letter-spacing: 0.7px;
      bottom: 8px;
      left: 5px; }

.prices-item-button {
  width: 205px; }

.prices-contact {
  margin: auto;
  text-align: center;
  max-width: 365px;
  margin-bottom: 23px; }
  .prices-contact p {
    font-size: 16px;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff; }
    .prices-contact p a {
      color: inherit; }

.prices-button {
  display: block;
  width: 205px;
  margin: auto; }
  .prices-button a {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 16px; }

#services {
  padding-top: 104px;
  padding-bottom: 60px; }

.services-title {
  margin-bottom: 96px; }
  .services-title h3 {
    color: #eef2f2; }
  .services-title h3:before {
    content: 'Blueway Van Lines preferred moving services';
    right: 340px; }

.services-item-wrapp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.services-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 60px; }

.services-item-img {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center; }
  .services-item-img img:first-child {
    margin-right: 30px; }
  .services-item-img img:last-child {
    margin-right: 41px; }

.services-item-descr {
  max-width: 490px; }
  .services-item-descr h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #34344a;
    margin-bottom: 18px; }
  .services-item-descr p {
    font-size: 15px;
    line-height: 1.67;
    letter-spacing: 0.1px;
    color: #34344a; }

.services-item-number {
  font-size: 60px;
  line-height: 0.7;
  text-align: center;
  color: #78a1bb;
  margin-right: 26px; }

.services-item-reverse {
  justify-content: flex-end; }
  .services-item-reverse .services-item-number {
    -webkit-order: 0;
    -moz-order: 0;
    -ms-order: 0;
    -o-order: 0;
    order: 0; }
  .services-item-reverse .services-item-descr {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
    margin-right: 40px; }
  .services-item-reverse .services-item-img {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2; }
    .services-item-reverse .services-item-img img:last-child {
      margin-right: 30px; }
    .services-item-reverse .services-item-img img:first-child {
      margin-right: 0;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-order: 1;
      -o-order: 1;
      order: 1; }

#partners {
  background-color: #2b4162;
  padding-top: 61px;
  padding-bottom: 66px; }

.partners-imgs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center; }

.partners-img-two {
  margin-bottom: -29px; }

.partners-img-three {
  margin-bottom: -15px; }

#reviews {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  padding-top: 100px;
  padding-bottom: 114px;
  justify-content: center;
  -ms-align-items: center;
  align-items: center; }

.reviews-title {
  margin-bottom: 86px; }
  .reviews-title h3 {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #eef2f2; }
  .reviews-title h3:before {
    content: 'WE CAN ALWAYS SAY HOW GREAT RAPID IS, BUT A CUSTOMER’S REVIEW SPEAKS FOR ITSELF.';
    max-width: 505px;
    right: 320px; }

.reviews-slide-titel {
  margin: 0 auto 33px; }
  .reviews-slide-titel h4 {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: center;
    color: #34344a; }

.reviews-slide-descr {
  margin: 0 auto 35px;
  max-width: 754px; }
  .reviews-slide-descr p {
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0.1px;
    text-align: left;
    color: #34344a; }

.reviews-slider-dots-wrapp {
  width: 55%;
  margin: 0 auto 15px; }

.reviews-slider-dots-wrapp .slick-initialized .slick-slide img {
  display: block;
  margin: auto;
  width: 70px;
  border-radius: 50%; }

.reviews-slider-dots-wrapp .slick-initialized .slick-center img {
  width: 100px; }

.reviews-slider-dots-wrapp .slick-track {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center; }

.reviews-slider-dots-wrapp .slick-prev:before,
.reviews-slider-dots-wrapp .slick-next:before {
  content: '';
  position: absolute;
  background-image: url(../img/slider/arrow.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 40px; }

.reviews-slider-dots-wrapp .slick-next {
  width: auto;
  height: auto;
  right: -45px;
  top: 36%; }

.reviews-slider-dots-wrapp .slick-prev {
  width: auto;
  height: auto;
  left: -65px;
  top: 22%; }

.reviews-slider-dots-wrapp .slick-prev:before {
  transform: rotate(180deg); }

.reviews-slide-link {
  text-align: center; }
  .reviews-slide-link a {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.3px;
    color: #34344a; }
  .reviews-slide-link a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 199px;
    height: 2px;
    background-color: #2b4162; }

#contacts {
  padding-top: 155px;
  padding-bottom: 140px;
  background-image: url(../img/contact-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover; }

.contacts-title {
  color: rgba(255, 255, 255, 0.1);
  width: 535px;
  margin-bottom: 40px; }
  .contacts-title h3:before {
    text-transform: capitalize;
    color: #fff;
    content: 'Here’s how to get in touch with us.';
    left: 100px; }

.contacts-links {
  background-color: #fff;
  max-width: 589px;
  padding: 27px 20px 20px 20px;
  margin: 0 auto 78px; }
  .contacts-links span {
    width: 82px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    color: #34344a;
    margin-right: 68px; }
  .contacts-links a {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.2px;
    text-align: left;
    color: #34344a; }

.contacts-link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px; }

.contacts-link:last-child {
  margin-bottom: 0; }

.contacts-links-form-title h5 {
  font-family: 'Abhaya Libre', serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 43px; }

.contacts-form {
  max-width: 609px;
  margin: auto; }
  .contacts-form input:not(.button) {
    width: 28.5%;
    padding-top: 13px;
    padding-left: 13px;
    padding-bottom: 9px;
    font-size: 14px;
    text-align: left;
    color: #34344a;
    border: 2px solid #fff; }
  .contacts-form textarea {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 97.7%;
    height: 175px;
    padding-top: 13px;
    padding-left: 13px;
    padding-bottom: 9px;
    font-size: 14px;
    text-align: left;
    color: #848484;
    border: 1px solid #cecece;
    resize: none; }

.contacts-form-inputs {
  width: 97.8%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between; }

.form-button {
  display: block;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 18px 57px 11px 59px; }

#footer {
  background-color: #2b4162;
  padding-top: 20.5px;
  padding-bottom: 22px; }

.footer-wrapp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center; }

.footer-logo img {
  width: 115px; }

.footer-partner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }
  .footer-partner img {
    margin-right: 30px; }
  .footer-partner img:last-child {
    margin-right: 0; }

.footer-copyrights p {
  font-size: 13px;
  line-height: 1.46;
  text-align: right;
  color: #9eabb0; }

.pop-up-form-wrapp,
.pop-up-succes-wrapp,
.pop-up-error-wrapp {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: -1;
  transition-duration: .5s; }

.contacts-form-wrapp-popup {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column; }

.pop-up-form-wrapp .container {
  overflow-y: auto;
  max-height: 100vh; }
  .pop-up-form-wrapp .container .contacts-form input:not(.button) {
    border: 1px solid #cecece !important; }
  .pop-up-form-wrapp .container .contacts-links-form-title h5 {
    color: #343443; }

.pop-up-cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 22px;
  background-image: url(../img/black-cross.svg);
  background-repeat: no-repeat; }

.open-popup {
  opacity: 1 !important;
  z-index: 99999 !important;
  transition-duration: .5s; }

.pop-up-cross {
  cursor: pointer;
  top: 119px;
  right: 203px; }

.pop-up-succes-wrapp,
.pop-up-error-wrapp {
  opacity: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  z-index: -1; }

.pop-up-succes-wrapp,
.pop-up-error {
  text-transform: uppercase; }
  .pop-up-succes-wrapp img,
  .pop-up-error img {
    margin-bottom: 50px; }
  .pop-up-succes-wrapp h5,
  .pop-up-error h5 {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #34344a;
    margin-bottom: 12px; }
  .pop-up-succes-wrapp p,
  .pop-up-error p {
    max-width: 329px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #34344a;
    margin-bottom: 30px; }

.pop-up-succes p {
  font-weight: 500;
  max-width: none;
  font-family: Cambay; }

.pop-up-succes .pop-up-button {
  padding-right: 74px;
  padding-left: 73px; }

.pop-up-button {
  text-transform: uppercase;
  padding: 15px 26px 10px; }
  .pop-up-button a {
    padding: 0; }

.slick-dots {
  position: static;
  padding-top: 30px; }

.slick-dots li button {
  width: 15px;
  height: 15px;
  border: 2px solid #2b4162;
  border-radius: 50%; }

.slick-dots .slick-active button {
  background-color: #2b4162; }

.slick-dots li button:before {
  content: '';
  width: 15px;
  height: 15px; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }
