@media(max-width: 1199px) {

    .about-descr-hov-wrapp {
        width: 92%;
    }

    .reviews-slider-dots-wrapp {
        width: 65%;
    }

    .prices-item {
        width: 300px;
    }

    .prices-title h3:before {
        right: 83px;
    }

    .services-title h3:before {
        right: 290px;
    }

    .reviews-title h3:before {
        right: 240px;
    }
}

@media(max-width: 991px) {
    .section-title h3 {
        font-size: 65px;
    }

    .section-title h3:before {
        top: 36px;
        font-size: 18px;
    }

    #header {
        padding-top: 33px;
    }

    .header-top-line {
        position: relative;
    }

    .header-menu-wrapp {
        position: fixed;
        top: 0;
        left: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #2b4162;
        transition-duration: .5s;
        z-index: 999;
    }

    #home,
    #prices,
    #contacts {
        background-position: center;
    }

    .open-menu {
        left: 0;
        transition-duration: .5s;
    }

    .header-menu {
        margin-left: 69px;
        margin-bottom: 81px;
        li {
            display: block;
            margin-bottom: 35px;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    .header-menu li:hover:before,
    .header-menu .menu-active:before {
        display: none;
    }

    .header-phone {
        display: none;
        margin-left: 90px;
    }

    .hamburger-wrapp {
        position: absolute;
        top: 15px;
        right: 0;
    }

    .header-phone-mobile,
    .hamburger {
        display: block;
    }

    .header-cross {
        width: 21px;
        height: 22px;
        position: absolute;
        top: 20px;
        right: 18px;
        display: block;
        background-image: url(../img/cross.svg);
        background-repeat: no-repeat;
    }

    .home-info {
        margin-right: 0;
        margin-bottom: 31px;
    }

    .home-wrapp {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
    }

    .home-title h1,
    .home-descr p {
        max-width: none;
        text-align: center;
    }

    .about-title h3:before {
        left: 0;
        right: 0;
    }

    .about-descr-hov-wrapp {
        width: 100%;
    }

    .about-descr-hov-wrapp {
        width: 92%;
    }

    .prices-title h3:before {
        left: 0;
        right: 0;
    }

    .prices-items {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .prices-item {
        width: 360px;
        margin-bottom: 42px;
    }

    .prices-item:last-child {
        margin-bottom: 0;
    }

    .services-title h3:before {
        left: 0;
        right: 0;
    }

    .reviews-slider-dots-wrapp {
        width: 55%;
    }

    .reviews-title h3:before {
        left: 105px;
        right: 0;
    }

    .contacts-title h3:before {
        left: 0;
        right: 0;
    }

    .pop-up-cross {
        top: 50px;
        right: 50px;
    }
}


@media(max-width: 767px) {
    .header-logo {
        a {
            img {
                width: 128px;
            }
        }
    }

    .section-title {
        width: auto;
        h3 {
            font-size: 32px;
        }

        h3:before {
            top: 18px;
            line-height: 1.2;
            left: 0;
        }
    }

    .about-items {
        display: block;
    }

    .about-item-img {
        margin: 0 auto 29px;
    }

    .about-item {
        width: auto;
    }

    .about-item.about-item-active {
        border: none;
    }

    .about-item-active.about-item-two .about-item-img {
        background-image: url(../img/about-items/2.svg);
    }

    .about-descr-hov {
        display: none;
    }

    .services-item-img {
        display: none;
    }

    .about-item-descr-mob {
        display: block;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.79;
        letter-spacing: 0.2px;
        text-align: center;
        color: #494949;
    }

    .about-item-one:before {
        top: 5px;
    }

    .about-item-one:before,
    .about-item-two:before {
        left: 245px;
    }

    .about-item-three:before {
        left: 230px;
    }

    .about-item-descr p {
        margin-bottom: 30px;
    }

    .partners-imgs {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .reviews-title {
        margin-bottom: 81px;
    }

    .reviews-slider-dots-wrapp .slick-initialized .slick-slide {
        width: 50px;
        height: 50px;
    }

    .reviews-slider-dots-wrapp .slick-initialized .slick-center {
        width: 90px;
        height: 90px;
    }

    .contacts-form {
        max-width: 540px;
    }
    .services-item {
        justify-content: center;
    }
    .services-item-reverse .services-item-descr {
        margin-right: 0;
    }

    .services-items-wrapp {
        .services-item:nth-child(1) {
            .services-item-wrapp {
                padding-top: 5px;
            }
        }
    }
    .services-item-wrapp {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .partners-imgs {
        -ms-align-items: flex-end;
        align-items: flex-end;

        img:nth-child(1) {
            width: 89px;
        }
        img:nth-child(2) {
            margin-bottom: 0;
            width: 163.4px;
        }

        img:nth-child(3) {
            width: 97px;
            margin-bottom: 0;
        }
        img:nth-child(4) {
            width: 67.4px;
        }
    }

    .services-title h3:before,
    .reviews-title h3:before,
    .prices-title h3:before {
        right: 0;
        left: 15px;
    }

    .contacts-title h3:before {
        left: 0;
        right: 0;
    }

    .footer-partner {
        display: none;
    }

    .reviews-slider-dots-wrapp .slick-initialized .slick-slide img {
        width: 50px;
    }

    .reviews-slider-dots-wrapp .slick-initialized .slick-center img {
        width: 90px;
    }

    .contacts-form textarea,
    .contacts-form-inputs {
        width: 100%;
    }

    .services-item-number {
        margin-bottom: 18px;
    }
}

@media(max-width: 630px) {
    .hamburger-wrapp {
        position: static;
    }

    .hamburger {
        top: 39px;
        right: 24px;
    }
}

@media(max-width: 600px) {

    .home-title h1 {
        font-size: 27px;
        line-height: 1.3;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-logo a img {
        position: absolute;
        left: 15px;
    }

    .home-descr p {
        font-size: 14px;
    }

    .home-yelp-descr {
        display: none;
    }

    .home-yelp-link img {
        margin-right: 15px;
    }

    #about {
        padding-top: 84px;
        padding-bottom: 73px;
    }

    .about-descr {
        padding-left: 15px;
        padding-right: 15px;
        p {
            font-size: 14px;
            line-height: 1.79;
            letter-spacing: 0.2px;
        }
    }

    .about-item-descr p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
    }

    .about-item-descr-mob {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.2px;
    }

    #prices {
        padding-top: 52px;
        padding-bottom: 60px;
    }

    .prices-title {
        margin-bottom: 74px;
    }

    .prices-item {
        width: 290px;
        margin-bottom: 40px;
    }

    .prices-contact {
        padding-left: 15px;
        padding-right: 15px;
    }


    .prices-contact p {
        font-size: 14px;
    }

    #services {
        padding-top: 51px;
        padding-bottom: 72px;
    }

    .services-title {
        margin-bottom: 85px;
    }

    .services-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services-item-descr h5 {
        font-size: 16px;
        line-height: 1.25;
    }

    .services-item-descr p {
        font-size: 14px;
        line-height: 1.79;
        letter-spacing: 0.2px;
    }

    .services-item-number {
        font-size: 40px;
        line-height: 1.05;
    }

    #reviews {
        padding-top: 51px;
        padding-bottom: 74px;
    }

    .reviews-slide-titel h4 {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.3px;
    }

    .reviews-slide-descr p {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.2px;
    }

    .reviews-slide-link a {
        display: none;
    }

    #contacts {
        padding-top: 88px;
        padding-bottom: 66px;
    }

    .contacts-links {
        max-width: 290px;
    }

    .contacts-link {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .contacts-form {
        max-width: 290px;
    }

    .contacts-form-inputs {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .contacts-form input:not(.button) {
        width: 100%;
        margin-bottom: 20px;
    }

    .contacts-form input:not(.button):last-child {
        margin-bottom: 0;
    }

    .contacts-form textarea {
        width: 100%;
    }

    .reviews-slide-descr p {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-wrapp {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-copyrights p {
        font-size: 12px;
    }

    .pop-up-cross {
        position: fixed;
        top: 30px;
        right: 30px;
    }

    .pop-up-succes,
    .pop-up-error {
        padding-left: 15px;
        padding-right: 15px;
    }

    .reviews-slider-dots-wrapp .slick-prev:before {
        left: 0;
        z-index: 5;
    }
    .reviews-slider-dots-wrapp .slick-next:before {
        right: 0;
        z-index: 5;
    }

    .reviews-slide-descr {
        margin-bottom: 0;
    }
}

@media(max-width: 500px) {
    .reviews-slider-dots-wrapp .slick-next {
        right: 0;
    }

    .reviews-slider-dots-wrapp .slick-prev {
        left: 0;
    }
}

@media(max-width: 540px) {

    #partners {
        .partners-imgs {
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
            -ms-align-items: center;
            align-items: center;
            justify-content: space-around;
            img {
                margin-bottom: 30px;
            }
            img:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media(max-height: 630px) {
    #header {
        padding-top: 10px;
    }

    .hamburger {
        top: 15px;
    }

    .home-title h1 {
        margin-bottom: 5px;
        font-size: 25px;
    }

    .home-info {
        margin-bottom: 10px;
    }
}

@media(max-height: 533px) {

    #home,
    .open-menu {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .home-form input:not(.button),
    .home-form select,
    .home-form .home-form-button {
        margin-bottom: 10px;
    }

    .home-form {
        padding-top: 15px;
    }

    .home-form-wrapp {
        padding-bottom: 15px;
    }
}

@media(max-width: 400px) {
    .footer-wrapp {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: center;
    }

    .footer-logo {
        margin-bottom: 15px;
    }
}

@media(max-width: 320px) {
    .pop-up-cross,
    .open-menu {
        top: 10px;
        right: 10px;
    }
}